---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #2a7ae2;
$brand-color:      #b39941;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$code-color:       lighten(#ffeeb5, 10%);
$callout_color: #305275;
$border-color: $callout_color;

$bg_color: #849cb5;
$content-bg-color: #fffefb;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import the framework
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


$content_cols: 9;
$sidebar_cols: 12 - $content_cols;

//$text_color:       #2b2b2b;
//$bg_callout_color: #d7d7dd;
//$bold_color:       #001166;
//$bg_color:         #F2f2f2;
//$code_bg_color:     #FFFFFF;
//$border_color:     #001166;
//$sidebar_text:     #001166;


// $link_color: darken(#4A96AD, 15%);
$link_color: darken($border_color, 15%);

body {
  background-color: $bg_color;
  font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
  font-size: 110%;
  padding-right: 1em;
}

a, a:visited {
  font-size: 100%;
  font-weight: bold;
  font-weight: normal;
  text-decoration: none;
//  border-bottom: 1pt dotted $callout_color;
  color: $callout_color;
}

a:hover {
  text-decoration: none;
  border-bottom: 1pt solid $callout_color;

}

header.site-header {
  @include span_columns(12);
  background-color: #fff;

  .site-title {
    padding-top: 25px;

    font-family: 'Rammetto One', sans-serif;
    font-size: 40px;
    font-weight: bold;

    .site-subtitle {
      font-size: 50%;
      margin-top: 0.5em;
      font-weight: normal;
    }

  }

}

#pagination {
background-color: $content-bg-color;
border: 3pt solid $border-color;
border-radius: 1.5em;
padding: 1em;
text-align: center;
}

.pagenumber {
  padding-left: 0.25em;
}

.all-posts-table {
  padding: 0em 0em 2em 2em;
  border: none;

  td.date {
    width: 25%;
  }
}

header.post-header h1 {
  padding-top: 1em;
}


#sidebar {
  background-color: $content-bg-color;
  border: 3pt solid $border-color;
  border-radius: 1.5em;
  padding: 1em;
  margin-right: 1em;

}

.site-footer {
  background-color: $content-bg-color;
}


.post-content {
  font-family: 'Pontano Sans', Verdana, Helvetica, sans-serif;
  line-spacing: 2em;
}


.post-text {
  border-radius: 1em;
  border: 3pt solid $border-color;

  background-color: $content-bg-color;
  padding: 0em 2em 2em 2em;
  margin-top: 2em;
  margin-bottom: 2em;


  ul {
    margin-left: 2em;

    li {
      list-style-type: disc;
	  margin-top: 0.5em;
    }
  }

  .morepost {
    padding-left: 3em;
    color: black;
  }



  .post-title {
    font-size: 150%;
    color: #000;
  }
  .post-link {
    color: #000;
  }
  h2.post-title {
    padding-top: 1em;
    padding-bottom: 0em;
    a.post-link {
      color: $callout_color;
    }
  }
  h2,h3,h4 {
    font-weight: bold;
    margin-top: 2em;

  }
  h2 {
    font-size: 110%;
  }

  h3 {
    font-size: 100%;
  }
}

// A Page needs to have the title be light and bold
