AddCharset UTF-8 .html

Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteRule ^upenn-library-has-video-commercials /2008/05/upenn-library-has-video-commercials/ [L,R=permanent]
RewriteRule ^psst-were-not-printing-cards-anymore /2008/05/psst-were-not-printing-cards-anymore/ [L,R=permanent]
RewriteRule ^json-json-everywhere /2008/05/json-json-everywhere/ [L,R=permanent]
RewriteRule ^google-doctype-open-documentation-open-code /2008/05/google-doctype-open-documentation-open-code/ [L,R=permanent]
RewriteRule ^the-friend-of-my-enemys-friends-enemyserr /2008/05/the-friend-of-my-enemys-friends-enemyserr/ [L,R=permanent]
RewriteRule ^intuition-based-librarianship /2008/07/intuition-based-librarianship/ [L,R=permanent]
RewriteRule ^planet-code4lib-in-a-snapshot /2008/07/planet-code4lib-in-a-snapshot/ [L,R=permanent]
RewriteRule ^wanted-a-better-proxy-server /2008/10/wanted-a-better-proxy-server/ [L,R=permanent]
RewriteRule ^how-to-rig-an-election /2008/11/how-to-rig-an-election/ [L,R=permanent]
RewriteRule ^normalizing-loc-call-numbers-for-sorting /2008/11/normalizing-loc-call-numbers-for-sorting/ [L,R=permanent]
RewriteRule ^and-then-i-finally-shut-the-hell-up /2008/12/and-then-i-finally-shut-the-hell-up/ [L,R=permanent]
RewriteRule ^five-rules-to-make-your-open-source-more-open /2009/01/five-rules-to-make-your-open-source-more-open/ [L,R=permanent]
RewriteRule ^tictocs-give-us-a-file-pretty-pretty-pretty-please /2009/02/tictocs-give-us-a-file-pretty-pretty-pretty-please/ [L,R=permanent]
RewriteRule ^ask-and-you-shall-receive-and-it-shall-be-awesome /2009/02/ask-and-you-shall-receive-and-it-shall-be-awesome/ [L,R=permanent]
RewriteRule ^enough-with-the-freakin-lc-call-number-normalization /2009/03/enough-with-the-freakin-lc-call-number-normalization/ [L,R=permanent]
RewriteRule ^a-plea-use-solr-to-normalize-your-data /2009/03/a-plea-use-solr-to-normalize-your-data/ [L,R=permanent]
RewriteRule ^marc-hash-a-proposed-format-for-jsonyamlwhatever-compatible-marc-records /2009/04/marc-hash-a-proposed-format-for-jsonyamlwhatever-compatible-marc-records/ [L,R=permanent]
RewriteRule ^marc-hash-control-field-now-with-less-structure /2009/04/marc-hash-control-field-now-with-less-structure/ [L,R=permanent]
RewriteRule ^marc-hash-the-saga-continues-now-with-even-less-structure /2009/04/marc-hash-the-saga-continues-now-with-even-less-structure/ [L,R=permanent]
RewriteRule ^sending-marcish-data-to-refworks /2009/05/sending-marcish-data-to-refworks/ [L,R=permanent]
RewriteRule ^rolling-out-umichs-vufind-introduction-and-new-features /2009/08/rolling-out-umichs-vufind-introduction-and-new-features/ [L,R=permanent]
RewriteRule ^sending-unicode-email-headers-in-php /2009/08/sending-unicode-email-headers-in-php/ [L,R=permanent]
RewriteRule ^easy-solr-types-for-library-data /2009/08/easy-solr-types-for-library-data/ [L,R=permanent]
RewriteRule ^going-with-and-forking-vufind /2009/08/going-with-and-forking-vufind/ [L,R=permanent]
RewriteRule ^building-a-solr-text-filter-for-normalizing-data /2009/08/building-a-solr-text-filter-for-normalizing-data/ [L,R=permanent]
RewriteRule ^benchmarking-marc-record-parsing-in-ruby /2009/09/benchmarking-marc-record-parsing-in-ruby/ [L,R=permanent]
RewriteRule ^more-marc-benchmars-adding-in-marc-xml /2009/09/more-marc-benchmars-adding-in-marc-xml/ [L,R=permanent]
RewriteRule ^the-sad-truths-about-journal-bundle-prices /2009/09/the-sad-truths-about-journal-bundle-prices/ [L,R=permanent]
RewriteRule ^dead-easy-but-extreme-ajax-logging-in-our-vufind-install /2009/09/dead-easy-but-extreme-ajax-logging-in-our-vufind-install/ [L,R=permanent]
RewriteRule ^an-exercise-in-solr-and-dataimporthandler-hathitrust-data /2009/09/an-exercise-in-solr-and-dataimporthandler-hathitrust-data/ [L,R=permanent]
RewriteRule ^adding-libxml-and-java-stax-support-to-ruby-marc-with-pluggable-xml-parsers-2 /2009/10/adding-libxml-and-java-stax-support-to-ruby-marc-with-pluggable-xml-parsers-2/ [L,R=permanent]
RewriteRule ^thinking-through-a-simple-api-for-hathitrust-item-metadata /2009/11/thinking-through-a-simple-api-for-hathitrust-item-metadata/ [L,R=permanent]
RewriteRule ^setting-up-your-opac-for-zotero-support-using-unapi /2009/11/setting-up-your-opac-for-zotero-support-using-unapi/ [L,R=permanent]
RewriteRule ^running-blacklight-under-jruby /2009/11/running-blacklight-under-jruby/ [L,R=permanent]
RewriteRule ^beta-version-of-the-hathitrust-volumes-api-available /2009/12/beta-version-of-the-hathitrust-volumes-api-available/ [L,R=permanent]
RewriteRule ^still-another-look-at-marc-parsing-in-ruby-and-jruby /2010/01/still-another-look-at-marc-parsing-in-ruby-and-jruby/ [L,R=permanent]
RewriteRule ^jruby_producer_consumer-dead-simple-producerconsumer-for-jruby /2010/02/jruby_producer_consumer-dead-simple-producerconsumer-for-jruby/ [L,R=permanent]
RewriteRule ^indexing-data-into-solr-via-jruby-with-threads /2010/02/indexing-data-into-solr-via-jruby-with-threads/ [L,R=permanent]
RewriteRule ^oclc-still-not-normalizing-their-lccns /2010/02/oclc-still-not-normalizing-their-lccns/ [L,R=permanent]
RewriteRule ^new-interest-in-marc-hash-json /2010/02/new-interest-in-marc-hash-json/ [L,R=permanent]
RewriteRule ^ruby-marc-with-pluggable-readers /2010/03/ruby-marc-with-pluggable-readers/ [L,R=permanent]
RewriteRule ^pushing-marc-to-solr-processing-times-and-threading-and-such /2010/03/pushing-marc-to-solr-processing-times-and-threading-and-such/ [L,R=permanent]
RewriteRule ^why-bother-with-threading-in-jruby-because-its-easy /2010/03/why-bother-with-threading-in-jruby-because-its-easy/ [L,R=permanent]
RewriteRule ^stupid-catalog-tricks-subject-headings-and-the-long-tail /2010/04/stupid-catalog-tricks-subject-headings-and-the-long-tail/ [L,R=permanent]
RewriteRule ^data-structures-and-serializations /2010/04/data-structures-and-serializations/ [L,R=permanent]
RewriteRule ^why-rda-is-doomed-to-failure /2010/04/why-rda-is-doomed-to-failure/ [L,R=permanent]
RewriteRule ^solr-forcing-items-with-all-query-terms-to-the-top-of-a-solr-search /2010/08/solr-forcing-items-with-all-query-terms-to-the-top-of-a-solr-search/ [L,R=permanent]
RewriteRule ^simple-ruby-gem-for-dealing-with-isbnissnlccn /2010/09/simple-ruby-gem-for-dealing-with-isbnissnlccn/ [L,R=permanent]
RewriteRule ^vufind-midwest-gathering /2010/09/vufind-midwest-gathering/ [L,R=permanent]
RewriteRule ^sizespeed-of-various-marc-serializations-using-ruby-marc /2010/09/sizespeed-of-various-marc-serializations-using-ruby-marc/ [L,R=permanent]
RewriteRule ^does-anyone-use-those-prevnextback-to-search-links /2010/11/does-anyone-use-those-prevnextback-to-search-links/ [L,R=permanent]
RewriteRule ^four-things-i-hate-about-ruby /2011/01/four-things-i-hate-about-ruby/ [L,R=permanent]
RewriteRule ^code4lib-2011-lightning-talk-slides /2011/02/code4lib-2011-lightning-talk-slides/ [L,R=permanent]
RewriteRule ^corrected-code4lib-slides-are-up /2011/02/corrected-code4lib-slides-are-up/ [L,R=permanent]
RewriteRule ^why-programmers-hate-free-text-in-marc-records /2011/04/why-programmers-hate-free-text-in-marc-records/ [L,R=permanent]
RewriteRule ^isbn-parenthetical-notes-bad-marc-data-1 /2011/04/isbn-parenthetical-notes-bad-marc-data-1/ [L,R=permanent]
RewriteRule ^a-short-ruby-diversion-cost-of-flow-control-under-ruby /2011/05/a-short-ruby-diversion-cost-of-flow-control-under-ruby/ [L,R=permanent]
RewriteRule ^ruby-gem-library_stdnums-goes-to-version-1-0 /2011/05/ruby-gem-library_stdnums-goes-to-version-1-0/ [L,R=permanent]
RewriteRule ^how-good-is-our-relevancy-ranking /2011/05/how-good-is-our-relevancy-ranking/ [L,R=permanent]
RewriteRule ^using-sqlite3-from-jruby-without-activerecord-2 /2011/05/using-sqlite3-from-jruby-without-activerecord-2/ [L,R=permanent]
RewriteRule ^even-better-even-simpler-multithreading-with-jruby /2011/07/even-better-even-simpler-multithreading-with-jruby/ [L,R=permanent]
RewriteRule ^a-short-personal-note /2011/10/a-short-personal-note/ [L,R=permanent]
RewriteRule ^solr-and-boolean-operators /2011/12/solr-and-boolean-operators/ [L,R=permanent]
RewriteRule ^another-short-personal-note /2012/02/another-short-personal-note/ [L,R=permanent]
RewriteRule ^stupid-solr-tricks-introduction /2012/02/stupid-solr-tricks-introduction/ [L,R=permanent]
RewriteRule ^solr-field-type-for-numericish-ids /2012/03/solr-field-type-for-numericish-ids/ [L,R=permanent]
RewriteRule ^using-localparams-in-solr-sst-2 /2012/03/using-localparams-in-solr-sst-2/ [L,R=permanent]
RewriteRule ^requiringpreferring-searches-that-dont-span-multiple-values-sst-3 /2012/03/requiringpreferring-searches-that-dont-span-multiple-values-sst-3/ [L,R=permanent]
RewriteRule ^boosting-on-exactish-anchored-phrase-matching-in-solr-sst-4 /2012/03/boosting-on-exactish-anchored-phrase-matching-in-solr-sst-4/ [L,R=permanent]
RewriteRule ^please-dont-return-your-books /2013/02/please-dont-return-your-books/ [L,R=permanent]
RewriteRule ^come-work-at-the-university-of-michigan /2013/04/come-work-at-the-university-of-michigan/ [L,R=permanent]
RewriteRule ^announcing-traject-indexing-software /2013/10/announcing-traject-indexing-software/ [L,R=permanent]
RewriteRule ^new-blog-front-and-back-end.html /2013/12/new-blog-front-and-back-end/ [L,R=permanent]
